#TaskTitle {
    pointer-events: none;
}

#TaskId {
    pointer-events: none;
}

#TaskExpiration {
    pointer-events: none;
}

#container {
    display: flex;
    flex-direction: row;
}

#ss {
    cursor: pointer;
}

#hm {
    cursor: default;
}

.profile-link {
    cursor: pointer;
}

.navbar-brand {
    cursor: pointer;
}

/* Showing or hiding the button to HmAdd */

                                                /* The AddHm popup form */

/* The popup form*/
#taskForm {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#taskForm.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s;
    animation: fadein 0.5s;
}

#taskForm.hidden {
    visibility: hidden;
    -webkit-animation: fadeout 0.25s;
    animation: fadeout 0.25 s;
}

/* Full-width input fields */
/* .form-container input[type=text],
.form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
} */

/* When the inputs get focus, do something */
/* .form-container input[type=text]:focus,
.form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
} */

/* Set a style for the submit/login button */
/* .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
} */

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}

/* For fadeIn/fadeOut animation  */

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}