#TaskTitle {
    pointer-events: none;
}

#TaskId {
    pointer-events: none;
}

#TaskExpiration {
    pointer-events: none;
}

#container {
    display: flex;
    flex-direction: row;
}

#ss {
    cursor: pointer;
}

#hm {
    cursor: default;
}

.profile-link {
    cursor: pointer;
}

.navbar-brand {
    cursor: pointer;
}